<!DOCTYPE html>
<html>
<head>
    <title>업로드 피드</title>
    <style>
        img {
            max-width: 300px;
            border-radius: 8px;
        }
        .card {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>업로드</h1>

    <div class="container">
        <div class="image-upload" id="image-upload">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="button">
                    <label for="chooseFile">
                        👉 CLICK HERE! 👈
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                <div class="button-container">
                    <button type="submit" name="search" class="btn">검색</button>
                </div>
            </form>

        </div>
        
    </div>

    
</body>
</html>
<script>
    function updatePlaceholder() {
        const option = document.getElementById("sortoption").value;
        // 옵션에 따라 placeholder 변경 등 로직 구현
    }
</script>