<!DOCTYPE html>
<html>
<head>
    <title>로그인 피드</title>
    <style>
        img {
            max-width: 300px;
            border-radius: 8px;
        }
        .card {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>로그인</h1>

    <form method = "post" >
        {% csrf_token %}
        <div class="input-box">
            <input type="text" name="id" id="id" placeholder="ID">
        </div>
        <div class="input-box">
            <input type="text" name="pwd" id="pwd" placeholder="Password">
        </div>

        <div class="button-container">
            <button type="submit" name="login" class="btn">로그인</button>
        </div>
    </form>

    {% if err_state %}
        <p>{{err}}</p>
    {% else %}
    {% endif %}


    <form method="get" action="{% url 'account:register_page' %}">
        <div class="button-container">
            <button type="submit" class="btn">회원가입</button>
        </div>
    </form>
    
</body>
</html>
<script>
    function updatePlaceholder() {
        const option = document.getElementById("sortoption").value;
        // 옵션에 따라 placeholder 변경 등 로직 구현
    }
</script>