<!DOCTYPE html>
<html>
<head>
    <title>개인페이지</title>
    <style>
        img {
            max-width: 300px;
            border-radius: 8px;
        }
        .card {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>포포리 : my_page</h1>
    <h2>{{user.username}}</h2>

    <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}

        <div class="button-container">
            <button type="submit" class="btn">로그아웃</button>
        </div>
    </form>

    <form method="get" action="{% url 'feed:upload_page' %}">
        <div class="button-container">
            <button type="submit" class="btn">업로드</button>
        </div>
    </form>

    <form method = "post" >
        {% csrf_token %}
        <div class="drop-container"> 
            <select class="dropmenu" name="sortoption" id="sortoption" onchange="this.form.submit()">
                <option value="most_like" selected>like</option>
                <option value="show_old">old</option>
                <option value="show_new">new</option>
            </select>
        </div>
    </form>

    {% for post in posts %}
        <div class="card">
            <p><strong>업로드한 유저:</strong> {{ post.profile.nickname }}</p>
            <p><strong>업로드 시간:</strong> {{ post.created_at }}</p>
            <p><strong>pk:</strong> {{ post.pk }}</p>

            {% if post.image %}
                <a href="{% url 'feed:post_page' post.pk %}">
                    <img src="{{ post.image.url }}" alt="이미지">
                </a>    
            {% else %}
                <p>[이미지 없음]</p>
            {% endif %}

            <p><strong>좋아요:</strong> {{ post.likecount }}</p>
            <p><strong>전체 인원:</strong> {{ post.headcount }}</p>
            <p><strong>남성:</strong> {{ post.malecount }} / 여성: {{ post.femalecount }}</p>
        </div>
    {% empty %}
        <p>이미지가 없습니다.</p>
    {% endfor %}
</body>
</html>